In [2]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\nihar\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nihar\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nihar\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\nihar\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nihar\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nihar\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: soupsieve>1.2 in c:\users\nihar\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [3]:
import requests
from bs4 import BeautifulSoup
url = "http://quotes.toscrape.com/"
response = requests.get(url)

In [4]:
import requests
from bs4 import BeautifulSoup
city = "india/hyderabad"
url = f"https://www.timeanddate.com/weather/{city}"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
temp = soup.find("div", class_="h2").text.strip() if soup.find("div", class_="h2") else "N/A"
desc = soup.find("p").text.strip() if soup.find("p") else "N/A"
print(f"Current Weather in Hyderabad: {temp} | {desc}")

Current Weather in Hyderabad: 29 °C | Haze.

In [11]:
import requests

from bs4 import BeautifulSoup
search_url = "https://www.amazon.in/s?k=iphone&crid=PQVCJSNISAH4&sprefix=iphone%2Caps%2C233&ref=nb_sb_noss_2%22"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"

}

In [14]:
response = requests.get(search_url, headers=headers)

soup = BeautifulSoup(response.text, "html.parser")
product = soup.select_one("span.a-size-medium")
price = soup.select_one("span.a-price-whole")
if product and price:
    print(f"Product: {product.text.strip()}")
    print(f"Price: ${price.text.strip()}")
else:
    print("Could not find product details.")

Could not find product details.

In [15]:
import requests
from bs4 import BeautifulSoup
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
response = requests.get(url,headers=headers)
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table", class_="wikitable")

In [18]:
for row in table.find_all("tr")[1:6]:  # Skip the header row
    columns = row.find_all("td")
    country = columns[1].text.strip()
    population = columns[2].text.strip()
    print(f"{country}: {population}")

World: 8,119,000,000
China: 1,408,280,000
1,402,737,000: 17.2%
United States: 340,110,988
Indonesia: 282,477,584

In [21]:
from IPython.display import display, HTML

In [22]:
display(HTML("""<table>

  <tr>

    <th>Company</th>

    <th>Contact</th>

    <th>Country</th>

  </tr>

  <tr>

    <td>Alfreds Futterkiste</td>

    <td>Maria Anders</td>

    <td>Germany</td>

  </tr>

  <tr>

    <td>Centro comercial Moctezuma</td>

    <td>Francisco Chang</td>

    <td>Mexico</td>

  </tr>

</table>

"""))